* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  color: blue
}

h1 {
  margin: 5px;
}

p {
  margin: 5px
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
}

.hunter {
  border: 1px solid black;
  padding: 10px;
  margin: 5px
}